html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#buttonDiv {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;

}

#buttonDiv:active {
    color: red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}



#CrearEspDiv {
    position: absolute;
    z-index: 5;
}

#EditarEspDiv {
    position: absolute;
    z-index:5;
}

#CrearEspDiv > div {
    position: relative;
    top: 30px;
    left: -10px;
    width: 450px;
    height: 300px;
    background: #f2eee1;
}

    #EditarEspDiv > div {
        position: relative;
        top: 30px;
        left: -10px;
        width: 450px;
        height: 300px;
        background: #f2eee1;
    }

.labelCheck {
    width: 100px;
    padding: 5px;
}